
<h1 class="bg-slate-100 col-start-1 md:col-span-8">upload page</h1>

<ul class="row-start-2 col-start-1 md:col-span-8">
{{#each files}}
  <li 
  class="my-4 shadow-sm"
  hx-trigger="intersect threshold 0.8"
  hx-get="/docs/file/{{_id}}?contenttype={{metadata.contentType}}"
  hx-target="#file{{_id}}"
  hx-swap="outerHTML"
  >
    <div class="rounded-md bg-slate-100">
      <div>{{filename}}</div>
      <div>{{_id}}</div>
      <div>{{metadata.contentType}}</div>
      <div id="file{{_id}}"></div>
      <div class="flex justify-end">
        <button 
        class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
        hx-delete="/docs/file/{{_id}}"
        hx-target="#del{{_id}}"
        hx-trigger="click"
        hx-on::after-request="js: location.reload()"
        >Delete</button>
        <div id="del{{_id}}"></div>
      </div>
    </div>
  </li>
{{/each}}
</ul>


{{> footer }}